<a href="https://crecelac.com/collections/todos-los-productos" class="button custom_url">Custom Button</a>
{% style %}
.custom_url {
    display: flex !important;
    width: 100%;
    margin: 0px !important;
    color: #ffffff;
    background: #205ec9;
    font-weight: normal;
}
.product__info-container .product-form {
    margin: 0px !important;
}
{% endstyle %}